#willem {
    color: bisque;
    background-color: silver;
}

.bloempot {
    color: black;
}

.lamp {
    color: rgb(236, 234, 69);
}

.pen { 
    color: teal;
}

head {
    background-color: lightslategrey;
}

.PANTER { 
    color: chartreuse;
}

.rick { 
    color: deeppink;
}