section{
    width: 800px;
    height: 200px;
    background-color: black;
}
    
.blok{
    float: left;
}

#blokblauw { 
    height: 192px;
    width: 192px;
    background-color: blue;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-top: 8px;
}

#blokwit {
    height: 92px;
    width: 452px;
    background-color: white;
    margin-bottom: 8px;
    margin-top: 8px;
}

#blokwit1 {
    height: 92px;
    width: 452px;
    background-color: white;
    margin-right: 8px;
}

#blokgeel{
    height: 186px;
    width: 86px;
    background-color: yellow;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-top: 8px;
}

#blokrood {
    height: 186px;
    width: 186px;
    background-color: red;
    margin-right: 8px;
    margin-top: 8px;
}

#blokblauw3 {
    height: 50px;
    width: 282px;
    background-color: blue;
    margin-right: 8px;
    margin-top: 8px;
}

#blokwit4 {
    height: 192px;
    width: 292px;
    background-color: white;
    margin-bottom: 8px;
}

#blokblauw4 {
    height: 192px;
    width: 92px;
    background-color: blue;
    margin-right: 8px;
    margin-left: 8px;
}

#blokgeel3 { 
    height: 92px;
    width: 392px;
    background-color: yellow;
    margin-right: 8px;
    margin-left: 8px;
}

#blokrood3 {
    height: 192px;
    width: 292px;
    background-color: red;
}

#blokwit5 {
    height: 192px;
    width: 20px;
    background-color: white;
    margin-right: 8px;
    margin-left: 8px;
 }

 #blokwiit {
    height: 192px;
    width: 15px;
    background-color: yellow;

 }

 #blokwiiit { 
    height: 192px;
    width: 15px;
    background-color: yellow;
 }